.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-items-center {
    justify-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-between {
    justify-content: space-between;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin-right: auto;
    margin-right: auto;
}

.tabs-container {
    margin-left: 8rem;
}

.login-page-wrapp {
    height: 100vh;
}

.form-wrap {
    width: 50%;
}

.form-wrap .card {
    max-width: 500px;
    width: 100%;
    margin-right: 30px;
}

.form-wrap .card .card-title {
    color: var(--gray);
}

.login-greeting-screen {
    background: var(--teal);
    width: 50%;
    padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
    max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
    color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
    line-height: 1.4;
}

#day,
#month,
#year {
    display: flex;
}